.about {
    background-color: $white;

    .container {
        @include container;
    }

    &__wrapper {
        padding: 120px 0;
    }

    &__info {
        @include flex-between__fe;
        @include tablet {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    &__rightside {
        @include tablet {
            margin-top: 30px;
        }
    }

    &__title {
        max-width: 418px;
        font-size: 32px;
        line-height: 140%;

        .important {
            color: $secondary;
        }
    }

    &__desc {
        max-width: 505px;
        line-height: 160%;
    }
}

.advantages {
    &__wrapper {
        @include flex-between;

        margin-top: 114px;
    }

    &__text {
        margin-top: 10px;
    }
}